#id1 {
    color: red;
}
div ul {
    background-color: blue;
}
a + span{
    color: green;
}

div.container + h2{
    font-style: italic;
}

h3.title + ul {
    background-color: yellow;
    list-style-type: disc;
}